.contact-master {
    /* background-color: coral; */
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    margin-right: 10vw;
    margin-left: 10vw;
}


.mail {
    font-size: 40px;
    line-height: 1.4;
}

.mail-id {
    text-decoration: none;
}

.mail-highlight {
    color: black;
    text-decoration: none;
    background-color: rgb(182, 255, 194);
}