.Navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.site-title {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-link {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-right: 3rem;
}

.nav-link-end {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
}

.nav-link-end:hover {
    color: black;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: -1;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}