.bs-heading {
    font-family: Lato;
    font-weight: 900;
    font-size: 1.3rem;
    color: rgb(59, 52, 158);
    margin-bottom: -10px;
}

.bharatsim-hl {
    font-weight: bold;
    color: #668adf;
}

.quote-div {
    display: flex;
    justify-content: center;
}

.quotes-figure {
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.persona-div {
    display: flex;
    justify-content: center;
}

.persona-figure {
    align-items: center;
    width: 70%;
    margin-bottom: 20px;
}